body
{
  background-color: #0c0c0c;
  margin: 0;
  color:white;
}

ul
{
  padding: 0;
  list-style: none;
}

li
{
  list-style: none;
}

a
{
  text-decoration: none;
  color:white;
}

.row
{
  display: flex;
}

.col
{
  display: flex;
  flex-direction: column;
}

.underline
{
  text-decoration: underline;
}

.red_text
{
  color: #ff1942;
}

/* Zone d'entête du site */

.background_header
{
  background-attachment: fixed;
  background-image: url("../img/background.jpg") ;
  background-size: cover;
  height: 100vh;
  display: flex;
  background-position: 100% ;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-shadow: 3px 3px 3px black;
  background-repeat: no-repeat;
}

/* Menu */

.menulogo {
    display: inline-block;
    text-align: center;
    background: -webkit-gradient(linear,left bottom,left top,from(hsla(0,0%,5%,0)),to(#0c0c0c));
    background: linear-gradient(0deg,hsla(0,0%,5%,0),#0c0c0c);
    z-index: 100;
    position: fixed;
}

.logo
{
  float: left;
  width: 5%;
  height: 5%;
  margin: 10px;
  border-radius: 50%;
}

.nav {
  padding-top: 1.5%;
  display: inline-flex;
  margin-left: -105px;

}

.nav li {
  padding-bottom: 3px;
  width:150px;
  font-size: 120%;
}

.nav a {
	margin: 0 30px;
}

.nav li:hover
{
  border-bottom: 1px solid white;
}

.actual_page
{
	border-bottom: 1px solid #ff1942;
}


/* Partis texte du header */

.text-header
{
  margin-top: 20%;
  margin-left: 8%;
  font-size: 200%;
  width: 500px;
  height: 500px;
  line-height: 50%;
  float:left;
  font-family: 'yorukaregular';
  text-shadow: 3px 3px 3px black; 
}

.text-header-droite
{
 padding-left: 15%;
 color : #C80037;
}

.text-header hr
{
  width: 15%;
  margin-left: 0%;
}

.header-slogan
{
  padding-left: 15%;
  padding-top: 1%;
  font-size: 50%;
  line-height:160%;
  width: 70%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-shadow: 3px 3px 3px black;
}

.vertical
{
  border-left: 1px solid white;
  height: 60%;
  left: 50%;
  margin-left: 15%;
}

.button
{
  margin-left: 15%;
  margin-top: 6%;
  padding: 15px;
  border: 0;
  background-color: #ff1942;
  display: flex;
  color: white;
}

.button:hover
{
  background-color: white;
  color: #C80037;
  cursor:pointer;
}


/* Zone Main du site  */

.image_main_right
{
    margin-top: 3%;
    margin-left: 5%;
    width: 750px;
    height: 500px;
    display: inline;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.image_main_left
{
    margin-top: 3%;
    margin-left: 56%;
    width: 750px;
    height: 500px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.text_droite_image
{
    float: right;
    margin-top: 13%;
    margin-right: 19%;
    width: 400px;
    font-size: 160%;

}

.text_gauche_image
{
    float: left;
    margin-top: -15%;
    margin-left: 16%;
    width: 400px;
    font-size: 160%;

}

/* Footer du site */

.informations
{
  display: inline-block;
  margin-left: 5%;
}

.catégorie_informations
{
  font-size: 120%;
}

.délimitation
{
  border-bottom: 1px solid white;
  margin: 3% 0 3% 0;
}

.map
{
  overflow:hidden;
  width: 350px;
  position: relative;
  margin-left: 5%;
}

.block-map
{
  padding-left: 9%;
}

.decale_block
{
  margin-left:5%;
}

.block_about
{
  padding-right: 100px;
}

.copyright
{
  text-align: center;
  font-size:70%;
  padding-bottom: 10px;
}

/* Fonts */

@font-face {
    font-family: 'yorukaregular';
    src: url('yoruka-webfont.woff2') format('woff2'),
         url('yoruka-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}